.overlay {
  display: flex;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  background-color: white;
  width: 70%;
  height: 80%;
  display: flex;
  border-radius: 3px;
  color: #212121;
}
