:host {
  background:#ECF6FF;
  color:black;
  position:relative;
  height:400px;
  overflow:hidden;
  display:block;
}

.image-container {
  padding:50px;
  display:table;
  width:100%;
}

.image-preview {
  display:table-cell;
  vertical-align:top;
  text-align:right;
  width:30%;
}

.image-preview img {
  border:5px solid white;
  height:300px;
}

.image-info {
  font-size:1.5rem;
  width:70%;
  padding-right:50px;
  display:table-cell;
  vertical-align:middle;
}

app-image {
  display:block;
  width:100%;
  height:300px;
}
