<div *ngFor="let image of activeImages" class="image-container" @image>
  <div class="image-preview">
    <img [src]="image" />
  </div>
  <div class="image-info">
    <h2>Title</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur ipsum eget tempus vulputate.
    </p>
    <p>
      Proin sed odio aliquam, commodo purus ut, auctor mauris. Mauris ut urna et tellus ullamcorper
    </p>
    <p>
      tincidunt non sit amet ante. Aenean ac tincidunt ex, nec pellentesque eros. Phasellus nec felis
    </p>
    <p>
      pretium, malesuada urna quis, molestie urna. Fusce eu ante et nisi pulvinar tincidunt. Quisque in
    </p>
    <p>
      enim urna. Curabitur hendrerit, dui sed semper ultrices, orci dui egestas arcu, vel efficitur orci
    </p>
    <p>
      enim in sapien. Fusce commodo erat vel nisi dictum, volutpat pretium purus cursus. Interdum et malesuada
    </p>
    <p>
      fames ac ante ipsum primis in faucibus. Morbi velit massa, luctus sit amet aliquet ac, faucibus a enim.
    </p>
  </div>
</div>
