<div fxLayout="column" class="about" fxLayoutAlign="center center"
     fxFlex>

  <div class="primary" fxLayout fxLayoutGap="15px" fxLayoutAlign="center center">
      <contributor
          [info]="person"
          *ngFor="let person of authors">
      </contributor>
  </div>

  <div class="contributors" fxLayout="row" fxLayoutGap="15px"  fxLayoutAlign="start center">
      <contributor
          [info]="person"
          *ngFor="let person of contributors">
      </contributor>
  </div>
</div>


