<div class="toolbar">
  <a routerLink="/"><img src="./assets/home-circle.png" /> Home</a>
  <a routerLink="/about"><img src="./assets/about-circle.png" /> About</a>
  <a href="https://github.com/matsko/ng4-animations-preview" target="_blank" rel="nofollow"><img src="./assets/github-circle.png" /> Application Code</a>
  <a href="http://yom.nu/ng-conf-2017" target="_blank" rel="nofollow"><img src="./assets/slides-circle.png" /> Slides</a>
  <button class="fab" (click)="modal.show($event)" #button>+</button>
</div>

<div class="page" [@routerAnimations]="prepareRouteTransition(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<app-image-modal #modal></app-image-modal>
