:host {
  width: 330px;
  margin-top: 64px;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contributor img {
  border-radius: 50%;
}

.matsko img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}

.name {
  font-size: 26pt;
}

.title {
  font-size: 16pt;
}

.title a {
  color: #aaaaaa;
}
