:host {
  width: 330px;
  margin-top: 54px;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contributor img {
  border-radius: 50%;
}

img {
  border: solid 2px rgba(255, 255, 255, 0.1);
}

.matsko img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}

.name {
  padding-top:10px;
  font-size: 20pt;
  color: #fffef6;
}

.title {
  font-size: 14pt;
}

.title a {
  color: #aaaaaa;
}
